/*------*/
/* MAIN */
/*------*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
body {
  margin: 0;
  color: var(--white);
  background-color: var(--light-black);
  font-family: var(--fira-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: var(--code-font);
}
* {
  box-sizing: border-box;
}

:root {
  --black: #1f2428;
  --light-black: #2a2a2a;
  --grey: #464646;
  --light-grey: #6c6c6c;
  --white: #f4f4f4;

  --fira-font: "Fira Code", monospace;
  --verdana-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --code-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-----------*/
/* CONTAINER */
/* MAIN GRID */
/*-----------*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  height: 65vh;
  display: grid;
  grid-template-columns: 60px 180px 1fr;
  grid-template-rows: 35px 40px 1fr;
  grid-template-areas:
    "title title title"
    "side-menu explorer navbar"
    "side-menu explorer home";
}
.title__container {
  grid-area: title;
}
.menu__container {
  grid-area: side-menu;
}
.explorer__container {
  grid-area: explorer;
}
.navbar__container {
  grid-area: navbar;
}
.home__container {
  grid-area: home;
}

/*-----------*/
/* TITLE BAR */
/*-----------*/
.title__container {
  font-family: var(--verdana-font);
  display: flex;
  background-color: var(--black);
}
.title__content--left,
.title__content--center,
.title__content--right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.title__content--left span {
  margin-right: auto;
}
.title__content--right span {
  margin-left: auto;
}
.title__logo {
  width: 20px;
  margin-left: 0.5rem;
}
.title__content--center span {
  font-size: smaller;
}
.title__content--right svg {
  margin: 0 0.5rem;
}
.title__ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.title__ul li {
  margin-right: 1rem;
}

/*-----------------*/
/* MENU ICONS VERT */
/*-----------------*/
.menu__container {
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu__container ul {
  list-style: none;
  padding: 0;
}
.menu__container li {
  margin-bottom: 1rem;
}

/*---------------*/
/* EXPLORER LIST */
/*---------------*/
.explorer__container {
  background-color: var(--black);
  font-family: var(--verdana-font);
}
.explorer__accordion--item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--light-black);
}
.explorer__accordion--link {
  display: flex;
  align-items: center;
}
.explorer__accordion--link img {
  width: 18px;
  margin-right: 0.5rem;
}
.explorer__accordion ul {
  list-style: none;
  padding: 0 2rem;
  margin: 0;
}
.explorer__accordion li {
  margin-top: 0.5rem;
}
.explorer__title {
  margin-left: 1rem;
  font-size: small;
}

/*-------------*/
/* NAVBAR TABS */
/*-------------*/
.navbar__container {
  align-self: center;
  font-family: var(--verdana-font);
}
.navbar__container ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.navbar__container li {
  padding: 0.5rem;
  min-width: 120px;
  text-align: center;
}
.nav__link--inactive {
  color: var(--white);
}
.nav__link-menu--inactive {
  color: var(--light-grey);
}
.nav__link--active {
  color: orange;
}
.nav__link {
  display: flex;
  align-items: center;
}
.nav__link img {
  width: 18px;
  margin-right: 0.5rem;
}
a {
  text-decoration: none;
}

/*------*/
/* HOME */
/*------*/
.home__content {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "number  ."
    "number  ."
    "number  name"
    "number job";
}
.home__content img {
  position: absolute;
  width: 250px;
  top: 80px;
  left: 200px;
  opacity: 0.3;
  z-index: -1;
}
.home__name {
  grid-area: name;
  font-size: xx-large;
  align-self: flex-end;
}
.home__content ul {
  grid-area: number;
  list-style: none;
  padding: 0;
  color: var(--light-grey);
  font-size: large;
}
.home__content li {
  padding: 0.1rem;
  margin-left: 1rem;
}
.home__content span {
  color: var(--white);
}
.home__content button {
  cursor: pointer;
  border: none;
  font-size: large;
  border: 1px solid orange;
  font-family: var(--fira-font);
  background: transparent;
  color: orange;
  margin-right: 1rem;
}
.home__content button:hover {
  transition: all 0.2s linear;
  background-color: orange;
  color: var(--light-black);
}
.home__pulse {
  animation: pulse 1s infinite ease-out;
}
@keyframes pulse {
  0% {
    color: orange;
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: orange;
  }
}

/*----------*/
/* PROJECTS */
/*----------*/
.projects__container {
  margin: 1rem;
}
.projects__content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.projects__content h1 {
  color: orange;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front {
  width: 100px;
  height: 100px;
}

/*------*/
/* BLOG */
/*------*/

/*--------*/
/* GITHUB */
/*--------*/

/*-------*/
/* ABOUT */
/*-------*/
.about__container {
  padding: 1rem;
  color: var(--light-grey);
}
.about__content h1 {
  color: orange;
}
.about__content img {
  border-radius: 1rem;
  border: 1px solid var(--light-grey);
  width: 200px;
}
.about__content section {
  margin-top: 1rem;
  max-width: 350px;
}
.about__text {
  margin-left: 1rem;
  color: var(--white);
}
.about__links {
  color: cadetblue;
  display: flex;
  padding: 1rem;
}
.about__links a {
  margin-left: 1rem;
}
a {
  color: cadetblue;
}
.about__content button {
  cursor: pointer;
  border: none;
  font-size: large;
  border: 1px solid orange;
  font-family: var(--fira-font);
  background: transparent;
  color: orange;
}
.about__content button:hover {
  transition: all 0.2s linear;
  background-color: orange;
  color: var(--light-black);
}

/*-------*/
/* TOOLS */
/*-------*/
.tools__container {
  padding: 1rem;
  color: var(--light-grey);
}
.tools__content ul {
  padding: 0;
  list-style: none;
  font-size: large;
}
.tools__content h1 {
  color: orange;
}
.tools__content li {
  padding: 0.1rem;
  margin-left: 1rem;
}
.tools__content span {
  margin-left: 1rem;
  color: var(--white);
}
.tools__content img {
  width: 20px;
}

/*--------*/
/* FOOTER */
/*--------*/
.footer__container {
  display: grid;
  border-top: 1px solid var(--grey);
  padding: 0;
}
.footer__terminal ul {
  display: flex;
  list-style: none;
  font-size: large;
  padding: 0;
}
.footer__terminal li {
  margin-left: 1rem;
  color: var(--light-grey);
  font-family: monospace;
}
.footer__terminal--underline {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__copyright {
  margin-left: 1rem;
}
.footer__copyright span {
  color: cadetblue;
}
.footer__webpack--successfully span {
  color: greenyellow;
  font-weight: bold;
}
.footer__webpack {
  margin-left: 1rem;
}
.footer__webpack--issues {
  color: yellowgreen;
}
.footer__http {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 20px 20px;
  margin-left: 3rem;
  grid-template-areas:
    "local-host local-host-span"
    "network network-span";
}
.footer__http-local {
  grid-area: local-host;
  font-weight: bold;
}
.footer__http-network {
  grid-area: network;
  font-weight: bold;
}
.footer__http-local--host {
  grid-area: local-host-span;
}
.footer__http-network--host {
  grid-area: network-span;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  height: 27px;
  font-family: var(--verdana-font);
  font-size: smaller;
  background-color: var(--grey);
}
.footer__icons ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer__icons li {
  display: flex;
  margin: 0 0.5rem;
}
