/*------*/
/* MAIN */
/*------*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
body {
  margin: 0;
  color: var(--white);
  background-color: var(--light-black);
  font-family: var(--fira-font);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: var(--code-font);
}
* {
  box-sizing: border-box;
}

:root {
  --light-black: #2a2a2a;
  --black: #1f2428;
  --grey: #464646;
  --light-grey: #6c6c6c;
  --white: #f4f4f4;
  --orange: #ce7060;

  --fira-font: "Fira Code", monospace;
  --apple-font: Verdana, Geneva, Tahoma, sans-serif;
  --code-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-----------*/
/* CONTAINER */
/* MAIN GRID */
/*-----------*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.content {
  flex-grow: 1;
  height: 65vh;
  display: grid;
  grid-template-columns: 60px 180px 1fr;
  grid-template-rows: 35px 40px 1fr;
  grid-template-areas:
    "title title title"
    "side-menu explorer navbar"
    "side-menu explorer home";
}
.title__container {
  grid-area: title;
}
.menu__container {
  grid-area: side-menu;
}
.explorer__container {
  grid-area: explorer;
}
.navbar__container {
  grid-area: navbar;
}
.home__container {
  grid-area: home;
}

/*-----------*/
/* TITLE BAR */
/*-----------*/
.title__container {
  font-family: var(--apple-font);
  display: flex;
  background-color: var(--black);
}
.title__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.title__content:first-child > span {
  margin-right: auto;
}
.title__content:last-child > span {
  margin-left: auto;
}
.title__logo {
  width: 20px;
  margin-left: 0.5rem;
}
.title__content > span > svg {
  margin: 0 0.5rem;
}
.title__ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.title__ul > li {
  margin-right: 1rem;
}

/*-----------------*/
/* MENU ICONS VERT */
/*-----------------*/
.menu__container {
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu__container > ul {
  list-style: none;
  padding: 0;
}
.menu__container > ul > li {
  margin-bottom: 1rem;
}
/*---------------*/
/* EXPLORER LIST */
/*---------------*/
.explorer__container {
  background-color: var(--black);
  font-family: var(--apple-font);
}
.explorer__accordion--folder {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 0.9rem;
}
.explorer__accordion--link {
  display: flex;
  align-items: center;
}
.explorer__accordion--link > img {
  width: 15px;
  margin-right: 0.5rem;
}
.explorer__accordion > ul {
  list-style: none;
  margin: 0;
}
.explorer__accordion > ul > li {
  margin-bottom: 0.5rem;
}
.explorer__title {
  margin-left: 1rem;
  font-size: small;
}

/*-------------*/
/* NAVBAR TABS */
/*-------------*/
.navbar__container {
  align-self: center;
  font-family: var(--apple-font);
}
.navbar__container > ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.navbar__container > ul > li {
  padding: 0.5rem;
  width: 150px;
  text-align: center;
}
.nav__link--inactive {
  color: var(--white);
}
.nav__link-menu--inactive {
  color: var(--light-grey);
}
.nav__link--active {
  color: orange;
}
.nav__link {
  display: flex;
  align-items: center;
}
.nav__link > img {
  width: 15px;
  margin-right: 0.5rem;
}
a {
  text-decoration: none;
}

/*------*/
/* HOME */
/*------*/
.home__icona {
  width: 200px;
}

/*-------*/
/* ABOUT */
/*-------*/

/*--------*/
/* FOOTER */
/*--------*/
.footer__container {
  display: grid;
  border-top: 1px solid var(--grey);
  padding: 0;
}
.footer__terminal > ul {
  display: flex;
  list-style: none;
  font-size: large;
  padding: 0;
}
.footer__terminal > ul > li {
  margin-left: 1rem;
  color: var(--light-grey);
  font-family: monospace;
}
.footer__terminal--underline {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__copyright {
  margin-left: 1rem;
}
.footer__copyright > span {
  color: cadetblue;
}
.footer__webpack--successfully > span {
  color: greenyellow;
  font-weight: bold;
}
.footer__webpack {
  margin-left: 1rem;
}
.footer__webpack--issues {
  color: yellowgreen;
}
.footer__http {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 20px 20px;
  margin-left: 3rem;
  grid-template-areas:
    "local-host local-host-span"
    "network network-span";
}
.footer__http-local {
  grid-area: local-host;
  font-weight: bold;
}
.footer__http-network {
  grid-area: network;
  font-weight: bold;
}
.footer__http-local--host {
  grid-area: local-host-span;
}
.footer__http-network--host {
  grid-area: network-span;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  height: 27px;
  font-family: var(--apple-font);
  font-size: smaller;
  background-color: var(--grey);
}
.footer__icons > ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer__icons > ul > li {
  display: flex;
  margin: 0 0.5rem;
}
